* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  text-align: center;
  background-color: #1E1E20;
}

#game-pattern {
  color: #FEF2BF;
  font-family: 'Orbitron', cursive;
  font-size: 20px;
  text-transform: uppercase;
}


#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  margin:  calc(100vh / 15) auto 20px auto;
  color: #4ECCA3;
}

#show-pattern {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(100vh / 15) auto calc(100vh / 15) auto;
  padding: 20px 0;
  width: 30%;
  height: 60px;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  background-color: #393E46;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  box-shadow:  -9px -4px 18px #30343b,
             9px 4px 18px #424851;
}

#show-pattern:hover {
  color: #4ECCA3;
  border: 2px solid #4ECCA3;
  animation: wiggle 1s linear infinite;
}


.container {
  display: grid;
  max-width: 60%;
  margin: calc(100vh / 15) auto calc(100vh / 10) auto ;
  gap: 20px;
  grid-template-areas:
  "g r"
  "y b";
}

.btn {
  margin: 25px auto;
  display: grid;
  height: 250px;
  width: 90%;
  border: 10px solid black;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius:0 25% 0 100%;
  grid-area: r;
}

.green {
  
  background-color: green;
  border-radius:100% 0 25% 0;
  grid-area: g;
}

.blue {
  background-color: blue;
  border-radius:25% 0 100% 0;
  grid-area: b;
}

.yellow {
  background-color: yellow;
  border-radius:0 100% 0 25% ;
  grid-area: y;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.score-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.score-container h2 {
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.score-item {
  margin-bottom: 30px;
}
#top-score {
  margin-bottom: 100px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #232931;
  border-top: 1px solid #393E46;
  color: #EEEEEE;
  font-family: 'Orbitron', cursive;
  font-size: 20px;
  /* height: 100px; */
  max-width: 100%;
  height: 10%;
}

a { 
  text-decoration: none;
  font-weight: bold;
  color: #4ECCA3;
  padding-left: 10px;
}

